.iButton{
    height:20px;
    width:20px;
}
#income{
    border-style: solid;
    text-align: center;
}
.payTypeSelection, .borrowerIncomeDetails{
    display:none;
}
#borrowerIncomeAreas{
    display:flex;
}
.borrowerIncomeDetails{
    flex:50%;
    width:50%;
}