*{
    margin:0;
    padding:0;
}
#propertyInformation{
    display:flex;
    justify-content: center;
    align-items: center;
}
#pIform{
    text-align: center;
    width: 40em;
    border-style:solid;
    border-color:red;
}
label{
    font-size: 2em;
    width:100%;
}
.pIinput{
    width:80%;
    height:50px;
    font-size:2em;
    align-items: center;
}
#pIbutton{
    height:100px;
    width:500px;
    font-size:2em;
}