*{
    margin:0;
    padding:0;
}
.statusBar{
    display:flex;
    width:100%;
    justify-content: space-between;
}
.statusItem{
    margin-left:3%;
    margin-right:3%;
    width:10em;
    font-size: 2em;
}
h1{
    text-align: center;
}

@media only screen and 
(max-device-width:800px){
    .statusBar{
        margin-bottom:20px;
    }
    .statusItem{
        width:30%;
        height:40px;
        font-size: 1em
    }
}